name: nonreg-TP_r_ubuntu-latest

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
   # Activate the workflow at each push on main branch
  push:
    branches: [ main ]
  # Activate the workflow at each pull request on main branch
  pull_request:
    branches: [ main ]
  # Activate the workflow every day at 23:30 UTC = for Paris 00:30 (summer) or 01:30 (winter)
  schedule:
    # * is a special character in YAML so you have to quote the string
    - cron:  '30 23 * * *'
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''

env:
  BUILD_DIR : build
  R_VERSION : "4.3.2"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -yq pandoc

    - name: Setup R Version
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{env.R_VERSION}}

    - name: Install R dependencies
      run: |
        Rscript -e "install.packages (
          c('ggplot2', 
            'ggpubr', 
            'knitr',
            'rmarkdown',
            'sp',
            'fields',
            'geoR',
            'ggnewscale',
            'callr'),
            repos='https://cloud.r-project.org/')"

    - name: Install gstlearn
      run: |
        Rscript -e "install.packages ('gstlearn',
            repos='https://soft.mines-paristech.fr/cran')"

    - name: Install minigst
      run: |
        R CMD INSTALL R/

    - name: Execute R TP
      run: |
        cd R/
        run/build_rmd_html.sh TP ~/minigst_out run/run_test_rmd.R

    - name: Compress output logs
      if: success() || failure()
      run: |
        cd ~/minigst_out
        find . -type f \( -name "*.*" \) -print0 | tar -czvf TP-r-logs.tar.gz --null -T -

    - name: Publish output logs as artefact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: TP-r-logs
        path: ~/minigst_out/TP-r-logs.tar.gz
