name: nonreg-TP_python_ubuntu-latest

on:
  # Permit calling the workflow from outside (https://github.com/actions/runner/discussions/1884)
  workflow_call:
   # Activate the workflow at each push on main branch
  push:
    branches: [ main ]
  # Activate the workflow at each pull request on main branch
  pull_request:
    branches: [ main ]
  # Activate the workflow every day at 23:30 UTC = for Paris 00:30 (summer) or 01:30 (winter)
  schedule:
    # * is a special character in YAML so you have to quote the string
    - cron:  '30 23 * * *'
  # Permit manual trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Manual'
        required: false
        default: ''

env:
  PYTHON_VERSION : "3.13"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: ${{env.PYTHON_VERSION}}
        activate-environment: true

    - name: Install Python dependencies
      run: |
        uv pip install nbval requests IPython scikit-learn ruff

    - name: Check Python formatting
      run: |
        ruff format --check

    - name: Install minigst
      run: |
        uv pip install python/

    - name: Execute Python notebooks
      run: |
        cd python
        run/build_ipynb_html.sh Tutorials ~/minigst_out run/run_test_ipynb.py

    - name: Compress output logs
      if: success() || failure()
      run: |
        cd ~/minigst_out
        find . -type f \( -name "*.*" \) -print0 | tar -czvf TP-python-logs_dev.tar.gz --null -T -

    - name: Publish output logs as artefact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: TP-python-logs
        path: ~/minigst_out/TP-python-logs_dev.tar.gz
